@inherits LayoutComponentBase


<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)"/>
            <RadzenLabel Text="AudIT App"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>

            <RadzenPanelMenuItem Text="Home" Icon="home"/>
            <RadzenPanelMenuItem Text="Users" Icon="account_box"/>
        </RadzenPanelMenu>

    </RadzenSidebar>
    <RadzenBody>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </RadzenBody>
</RadzenLayout>

@code
{

bool sidebarExpanded = true;
}